.block{
    height: 530px;
    background-color: #ffce32;
    position:relative;
}
.title{

    font-size:41px;
    width: 500px;
    margin-left: 150px; 
    padding-top: 200px;   
    font-family: cursive
}.title1{
    margin-left: 350px; 
    padding-top: 10px;
    font-size:41px;
    width: 500px;
    font-family: cursive;
      
}
.boy{
    width: 800px;
    position: absolute;
    top: 0px;
    right: 100px;
    
}