.block{
    height: 530px;
    background-color: #ffce32;
    position:relative;
}
.title{

    font-size:41px;
    width: 45%;
    margin-left: 5%; 
    padding-top: 200px;   
    font-style: italic;
}

.title1{
    margin-left: 15%; 
    padding-top: 10px;
    font-size:41px;
    width: 50%;
    font-style: italic;      
}
.boy{
    width: 50%;
    position: absolute;
    top: 0px;
    right: 5%;
    
}